.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}

body {
  background-image: url("../images/bg-image-tile-2.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

.nav-parent {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  .nav-container {
    margin: 0 auto;
    max-width: 960px;
    nav {
      display: flex;
      justify-content: space-between;
      padding: 1.5rem 3rem;
      .logo {
        align-self: center;
        width: 60px;
      }
      .menu {
        align-self: center;
        width: 60px;
      }
    }
  }
}

main {
  width: 100%;
  section.hero {
    display: flex;
    justify-content: space-between;
    .left-col {
      display: flex;
      align-items: flex-end;
      width: 45%;
      height: 75vh;
      background-color: #D8D8D8;
      .hero-text {
        h2 {
          font-size: 3em;
        }
        p {
          font-size: 1.2em;
          line-height: 1.3em;
        }
        padding: 3vh 3em 3vh 3em;
      }
    }
    .right-col {
      display: flex;
      align-items: flex-end;
      width: 45%;
      height: 100vh;
      .right-col-img {
        width: 100%;
        img {
          z-index: 987;
          width: 100%;
          margin: 0px auto;
        }
      }
      .right-col-bg {
        z-index: 986;
        width: 100%;
        background-color: #D8D8D8;
        width: 100%;
        //padding: 40vh 3em 3em 3em;
      }
    }
  }
  section.reviews {
    padding: 3rem 1.5rem;
    margin-top: -5px;
    background-color: #D8D8D8;
    .reviews-container {
      display: flex;
      align-items: flex-start;
    }
  }
}

/* Smaller than mobile */
@media (max-width: 400px) {}

/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 550px) {}

/* Smaller than tablet */
@media (max-width: 750px) {}

/* Smaller than desktop */
@media (max-width: 1000px) {}

/* Smaller than Desktop HD */
@media (max-width: 1200px) {}
