.container {
  position: relative;
  width: 100%;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
  background-color: blue;
}

body {
  background-image: url("../images/bg-image-tile-2.png");
  background-repeat: repeat;
  background-attachment: fixed;
}

nav {
  margin: 2em auto;
  display: flex;
  flex-direction: row;
  width: 100%;
  div {
    display: flex;
    flex-direction: column;
    flex-basis: 50%;
    .logo {
      z-index: 999;
      width: 60px;
      align-self: flex-start;
      margin-left: 2em;
    }
    .hamburger-menu {
      z-index: 999;
      width: 60px;
      align-self: flex-end;
      margin-right: 2em;
    }
  }

}

main {
  display: flex;
  flex-direction: row;
  width: 100%;
  .col {
    z-index: 998;
    min-height: 100vh;
    display: flex;
    flex-direction: row;
    flex-basis: 100%;
    .left-col {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-self: flex-start;
      margin-top: calc(-4em - 76px);
      background-color: #D8D8D8;
      padding: 50vh 3em 3em 3em;
    }
    .right-col {
      flex-basis: 30%;
      display: flex;
      flex-direction: column;
      align-self: flex-end;
      margin-top: calc(-4em - 76px);
      background-color: red;
      padding: 50vh 3em 3em 3em;
    }
  }
}

/* Smaller than mobile */
@media (max-width: 400px) {}

/* Smaller than phablet (also point when grid becomes active) */
@media (max-width: 550px) {}

/* Smaller than tablet */
@media (max-width: 750px) {
  nav {
    div {
      .logo {
        width: 45px;
      }
      .hamburger-menu {
        width: 45px;
      }
    }
  }
}

/* Smaller than desktop */
@media (max-width: 1000px) {}

/* Smaller than Desktop HD */
@media (max-width: 1200px) {}
